/* ========================================= FONTS ===================================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ======================================== THEME COLOR BEGIN =============================================== */
:root {
  /* ==================================== BACKGROUND COLOR ============================================ */
  --primary--bg-color: #000000;
  --main-text-color: #ffffff;
  --para-text-color: #999999;
  --top-title-text-color: hsla(0, 0%, 100%, 0.95);
  --blue-color: #5f99ff;
  --bold-text-color: #dfdede;

  /* ==================================== BOX-BACKGROUND COLOR ======================================== */
  --box-background-color: #1a1919;

  /* ==================================== BOX SHADOW ================================================== */
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /* ==================================== FONT SIZES ================================================== */
  --font-poppin: "Poppins", sans-serif;
  --big-font-size: 6.5rem;
  --medium-font-size: 4.5rem;
  --para-font-size: 0.9rem;
  --small-para-font-size: 0.8rem;
  --button-font-size: 12px;

  /* ==================================== SCROLL BAR COLOR ============================================ */
  --scroll-bar-color: #fff;
  --scroll-thumb-color: rgba(0, 0, 0, 0.604);
  --scroll-thumb-hover-color: #999999;
}
/* ======================================== THEME COLOR END ================================================= */


/* =========================================== SCROLL BAR BEGIN ====================================================== */
::-webkit-scrollbar {
  width: 8px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}
/* =========================================== SCROLL BAR END ======================================================== */


/* ==================================== SCROLL to TOP BOTTOM BEGIN =========================================== */
.scrollTop-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 36px;
  height: 36px;
  background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
  color: #000;
  font-size: 2em;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  transition: .5s ease;
}

.scrollTop-btn.active {
  right: 10px;
  pointer-events: all;
  opacity: 1;
}
/* ==================================== SCROLL to TOP BOTTOM END ============================================= */


/* ==================================== GENERAL BEGIN ======================================================= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary--bg-color);
  font-family: var(--font-poppin);
  transition: .5s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-title {
  color: var(--blue-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* ==================================== GENERAL END ========================================================= */


/* ==================================== SECTION TITLE ==================================================== */
.section-title-01 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(to top, transparent 0%, var(--main-text-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .1;
}

.section-title-02 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-text-color);
  transform: translateY(-55px);
}

.section-title-02:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  right: 0;
  bottom: 0;
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
}
/* ==================================== SECTION TITLE ==================================================== */


/* ==================================== NAVBAR / HEADER SECTION BEGIN ===================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(59%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
  transition: .6s ease;
}

header.sticky {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(59%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
  box-shadow: var(--box-shadow);
}

header.sticky .nav-bar {
  height: calc(4rem + 1rem);
}

header .brand-name a{
  position: relative;
  padding-left: 12px;
}

header .brand-name img {
  width: 45px;
}

header .nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: .6s ease;
}
/* ==================================== NAVBAR / HEADER SECTION END ===================================== */


/* ==================================== HOME SECTION BRGIN ==================================================== */
.home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home .home-content .block {
  flex: 0 0 75%;
  max-width: 100%;
  padding-left: 35px;
  border-left: 3px solid var(--main-text-color);
}

.home .home-content .block .above-title {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  color: var(--top-title-text-color);
  top: 15px;
  z-index: 10;
}

.home .home-content .block .above-title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 18px;
  height: 2px;
  background: var(--top-title-text-color);
}

.full-name {
  background: linear-gradient( 179.7deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 100;
  font-size: 6.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.dot {
  font-size: 4.5rem;
}

.home .home-content .block .bio {
  color: var(--para-text-color);
  position: relative;
  font-size: var(--para-font-size);
  font-weight: 400;
  max-width: 450px;
  z-index: 100;
  text-align: justify;
  line-height: 24px;
}
/* ==================================== HOME SECTION END ====================================================== */


/* ==================================== TOP BUTTON 1&2 BEGIN ====================================================== */
.cv {
  top: 45px;
}

.cv i {
  padding-left: 15px;
}


button.fancy1 {
  -webkit-appearance: button;
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 0;
  box-sizing: border-box;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

button.fancy {
  -webkit-appearance: button;
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 0;
  box-sizing: border-box;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

button.fancy::before,
button.fancy1::before {
  content: " ";
  width: 1.25rem;
  height: 2px;
  background: var(--main-text-color);
  top: 50%;
  left: 1em;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: background 0.3s linear, width 0.3s linear;
  transition: background 0.3s linear, width 0.3s linear;
}

button.fancy a,
button.fancy1 a {
  font-size: var(--button-font-size);
  font-weight: 500;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

button.fancy .top-key,
button.fancy1 .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #000000;
  -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

button.fancy .bottom-key-1,
button.fancy1 .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #000000;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

button.fancy .bottom-key-2,
button.fancy1 .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #000000;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

button.fancy:hover,
button.fancy1:hover  {
  color: #000000;
  background: var(--main-text-color);
}

button.fancy:hover::before,
button.fancy1:hover::before {
  width: 0.9375rem;
  background: #000000;
}

button.fancy:hover a,
button.fancy1:hover a {
  color: #000000;
  padding-left: 1.5em;
  font-weight: 500;
}

button.fancy:hover .top-key,
button.fancy1:hover .top-key {
  left: -2px;
  width: 0px;
}

button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

button.fancy1:hover .bottom-key-1,
button.fancy1:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
/* ==================================== TOP BUTTON 1&2 END ======================================================== */


/* ==================================== ABOUT SECTION BEGIN =================================================== */
.about-me {
  padding: 75px 15px;
}

.about-me .about-content {
  padding: 25px;
}

.about-me .about-content .abt-img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.about-me .about-content .abt-img img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.about-me .about-content .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}

.about-me .about-content .text p {
  position: relative;
  padding-top: 25px;
  padding-right: 0px;
  font-size: var(--para-font-size);
  font-weight: 400;
  line-height: 28px;
  z-index: 100;
  color: var(--para-text-color);
  text-align: justify;
}

.home__social-follow {
  font-size: var(--para-font-size);
  font-weight: 300;
  position: relative;
  color: var(--main-text-color);
}

.home__social-follow::after {
  content: '';
  position: absolute;
  width: 1.2rem;
  height: 1px;
  background: var(--main-text-color);
  right: -45%;
  top: 50%;
}

.home__social {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.home__social-links {
  display: inline-flex;
  column-gap: 1rem;
}

.home__social-link {
  transition: .4s ;
  font-size: 1.08rem;
  color: var(--main-text-color);
  cursor: pointer;
}

.home__social-link:hover {
  transform: translateY(.25rem);
}

.home__social-links a:hover:nth-child(1) {
  color: #1877f2;
  transition: all 0.5s ease;
}

.home__social-links a:hover:nth-child(2) {
  color: #999999;
  transition: all 0.5s ease;
}

.home__social-links a:hover:nth-child(3) {
  color: #007bb5;
  transition: all 0.5s ease;
}
/* ==================================== ABOUT SECTION END =================================================== */


/* ==================================== PROJECTS SECTION BEGIN ================================================ */
.projects {
  padding: 75px 15px;
}

.pr-bio {
  font-size: var(--para-font-size);
  font-weight: 400;
  position: relative;
  color: var(--main-text-color);
}

.pr-bio::after {
  content: '';
  position: absolute;
  width: 1.2rem;
  height: 1px;
  background: var(--main-text-color);
  right: -45%;
  top: 50%;
}

.p-bio {
  padding-left: 40px;
  color: var(--para-text-color);
  font-size: var(--para-font-size);
  font-weight: 400;
}

.projects .project-content {
  padding-top: 30px;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects .project-content .box {
  border-radius: 4px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.projects .project-content .box .img {
  border-radius: 2px;
  overflow: hidden;
}

.projects .project-content .box .img img {
  border-radius: 4px;
  width: 100%;
  display: block;
  transition: all 0.5s ease;
  margin-bottom: 25px;
}


.projects .project-content .box:hover .img img {
  border-radius: 4px;
  transform: scale(1.1);
}

.projects .project-content .box h3 {
  position: relative;
  height: 12px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-left: 17px;
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid var(--blue-color);
  color: var(--main-text-color);
  line-height: 10px;
}

.projects .project-content .box p {
  font-size: 12px;
  font-weight: 400;
  color: var(--para-text-color);
  padding-left: 12px;
  padding-top: 12px;
}

.projects .project-content .box a {
  font-size: 12px;
  text-transform: capitalize;
  color: var(--blue-color);
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  padding-bottom: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .project-content .box a:hover {
  color: var(--main-text-color);
}
/* ==================================== PROJECTS SECTION END ================================================ */


/* ==================================== EDUCATION BEGIN ====================================================== */
.education {
  min-height: 100vh;
  padding: 75px 15px;
}

.education__items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.education__items::after {
  content: '';
  border: dotted 1px #2f363e;
  position: absolute;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
}

.education__item {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.education__item:last-child {
  margin-bottom: 0;
}

.education__item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.education__item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.line__dot {
  height: 16px;
  width: 16px;
  position: absolute;
  border: 2px solid var(--blue-color);
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.eduacation__date {
  font-size: var(--para-font-size);
  color: #ffffff;
  margin: 6px 0 15px;

}

.eduacation__content {
  background-image: radial-gradient( circle 1051.8px at 10% 20%,  rgba(12,22,34,1) 24.3%, rgba(35,102,172,1) 100.2% );
  padding: 25px;
  border-radius: 4px;
}

.eduacation__content h3 {
  font-size: 20px;
  color: var(--main-text-color);
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.eduacation__content p {
  color: var(--para-text-color);
  font-size: var(--para-font-size);
  font-weight: 400;
  line-height: 22px;
}
/* ==================================== EDUCATION END ======================================================== */


/* ==================================== WHATS NEXT ============================================================ */
.what-next {
  padding-top: 50px;
}

.connect__section {
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 39px;
}

.container-2.connect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 59px;
  padding-bottom: 59px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container-2 {
  height: 100%;
}

.left-text {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.small-title i {
  padding-left: 6px;
  font-weight: bold;
}

.heading-2 i {
  font-size: 3rem;
  padding-left: 10px;
}

/* CONNECT ME LINKEDIN BUTTON */
.btn {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 250px;
  border: 1px dotted #ffffff;
  position: relative;
  font-size: var(--button-font-size);
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #ffffff;
}

.btn::after, .btn::before {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  content: "";
  border-color: #ffffff;
  transition: transform 0.3s ease-out;
}

.btn::after {
  transform: scaleY(0);
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.btn::before {
  transform: scaleX(0);
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover::after {
  transform: scaleY(1);
}

.btn i {
  font-size: 16px;
  font-weight: normal;
  padding-left: 12px;
}

.right-text {
  position: relative;
  z-index: 30;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-2.downsa {
  padding-top: 55px;
  text-align: justify;
}

.paragraph-2 {
  position: relative;
  z-index: 100;
  padding-right: 0px;
  color: var(--para-text-color);
  font-size: var(--para-font-size);
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

video {
  object-fit: contain;
}

.w-background-video {
  position: relative;
  overflow: hidden;
  height: 500px;
  color: #ffffff;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}


.div-block-2.shade {
  background-color: rgba(0, 0, 0, 0.55);
  background-image: linear-gradient(180deg, #000 1%, rgba(0, 0, 0, 0.9) 22%, transparent 51%, rgba(0, 0, 0, 0.93) 78%, #000);
}

.shade {
  position: absolute;
  left: -38px;
  top: 0px;
  display: block;
  width: 130%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-2 {
  right: 0px;
  z-index: 20;
}

.black-shade {
  width: 40%;
  height: 100%;
  float: right;
}

.bbackground-vid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.w-background-video {
  overflow: hidden;
  height: 500px;
  color: #ffffff;
}

.w-background-video>video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
}

audio, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
/* ==================================== WHATS NEXT ============================================================ */


/* ==================================== CONTACT BEGIN ======================================================== */
.contact {
  padding-top: 55px;
}

.contact__me {
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 39px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.43))), url('/assets/images/email-bg.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url("/assets/images/email-bg.jpg");
  background-position: 0px 0px, -25px 55%;
  background-size: auto, 650px;
  background-repeat: repeat, no-repeat;
  border-top: 1px solid hsla(0, 0%, 100%, 0.02);
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.left-text {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.left-text.header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading {
  color: var(--main-text-color);
  text-align: left;
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph-2.downsa {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--para-text-color);
}

.paragraph-2.downsa.emial {
  padding-top: 28px;
  padding-right: 124px;
  padding-left: 124px;
  text-align: center;
  text-decoration: none;
  color: var(--para-text-color);
  font-size: var(--para-font-size);
  font-weight: 400;
}

.bb {
  color: var(--bold-text-color);
  font-weight: 500;
}

/* EMAIL BUTTON */
button {
	display: flex;
	margin-top: 18px;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid var(--blue-color);
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
	font-size: var(--button-font-size);
  font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 4px;
	outline: none;
	overflow: hidden;
	box-sizing: border-box;
  transition: all 508ms cubic-bezier(.77, 0, .175, 1);
  transition-duration: 508ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0s;
  transition-property: all;
}

.w-button {
  color: #ffffff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-4 a {
  text-decoration: none;
  color: #ffffff;
  padding: 9px 15px;
}

.btn-4:hover {
  background-color: rgba(11, 39, 90, 0.24);
  padding-left: 24px;
}

.btn-4 .bff.email {
  background-image: url('/assets/logo/envelop.png');
  background-position: 100% 50%;
  background-size: 30px;
}

.btn-4 .bff {
  padding-right: 50px;
  padding-left: 0px;
  background-position: 93% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}
/* EMAIL BTN */
/* ==================================== CONTACT END ========================================================== */


/* ==================================== FOOTER SECTION BEGIN =================================================== */
.footer {
  height: 110px;
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
}

.footer__container {
  padding-top: 11px;
  padding-bottom: 11px;
  background-image: url('/assets/logo/sign.png');
  background-position: 100% 50%;
  background-size: 200px;
  background-repeat: no-repeat;
}

.footer__heading {
  color: var(--para-text-color);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.w-container1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}
/* ==================================== FOOTER SECTION END ===================================================== */



/* ===================================== RESPONSIVE BEGIN ===================================================== */
/* LARGE DEVICE */
@media(max-width: 991px) {
  /* HEADER */ 
  .navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
  }

  /* HOME */
  .home .home-content .block .full-name {
    font-size: var(--big-font-size);
  }

  /* BOTTOM CONTAINERS */
  .w-container1 {
    max-width: 728px;
  }
  .w-container {
    max-width: 728px;
  }
}

/* TABLET DEVICE */
@media(max-width: 767px) {
/* ABOUT SECTION */
  .about-me .about-content .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 30px;
  }
  .about-me .about-content .abt-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* PROJECT SECTION */
  .projects .project-content .box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 45px;
  }

  /* EDUCATION SECTION */
  .education__items::after {
    left: 7px;
  }
  .line__dot {
    left: 0;
  }
  .education__item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .education__item:nth-child(odd),
  .education__item:nth-child(even) {
    padding-left: 37px;
  }

  /* BOTTOM SECTION */
  .footer__container {
    padding-right: 34px;
    padding-left: 34px;
  }
  .left-text {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
  }
.container-2.connect {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  }
  .pa {
    padding: 10px;
  }

  /* CONATACT */
  .contact__me {
    padding-top: 0px;
  }
}


/* MEDIUM DEVICE */
@media(max-width: 575px) {
  .container .section-title-01 {
    font-size: 2.5rem;
  }
  .container .section-title-02 {
    font-size: 1.5rem;
    padding-top: 18px;
  }

  /* NAVBAR LOGO */
  header .brand-name a{
    right: 12px;
  }
  header .brand-name img {
    width: 38px;
  }

  /* HOME SECTION */
  .home .home-content .block .full-name {
    font-size: 4.8rem;
  }
  .home .home-content .block .above-title {
    font-size: 11px;
  }
  .home .home-content .block .bio {
    font-size: var(--small-para-font-size);
    padding-top: 8px;
  }
  .home .home-content .block {
    margin-left: 30px;
    border-left: 3px solid #ffffff;
  }

  /* ABOUT SECTION */
  .about-me .about-content {
    padding: 20px;
  }
  .about-me .about-content .abt-img img {
    width: 90%;
    margin-left: 5%;
  }
  .about-me .about-content .text p {
    font-size: var(--small-para-font-size);
  }

  /* SCROLL TO TOP BUTTON */
  .scrollTop-btn {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    font-weight: 500;
  }
}

/* MEDIUM DEVICE */
@media screen and (max-width: 500px) {
  .footer__container {
    padding-bottom: 105px;
    background-position: 50% 50%;
    text-align: center;
  }

.w-container1 {
  max-width: none;
  }
  .paragraph-2.downsa.emial {
    padding-right: 25px;
    padding-left: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  }
}

/* MOBILE DEVICE */
@media screen and (max-width: 479px) {
  .container-2.connect {
    padding-right: 21px;
    padding-left: 21px;
  }
}

/* MOBILE DEVICE */
@media screen and (max-width: 413px){
  .heading {
    font-size: 1.8rem;
  }
}

/* SMALL DEVICE */
@media(max-width: 360px) {
  .navigation {
    position: fixed;
  }
  
  .container .section-title-01 {
    font-size: 2rem;
  }
  .container .section-title-02 {
    padding-top: 20px;
    font-size: 1.25rem;
  }
  .about-me .about-content .text p {
      padding-top: 20px;
      line-height: 26px;
  }
}
/* ===================================== RESPONSIVE END ======================================================= */